
body {

text-align: center;

}

h1 {

background-color: rgb(32, 161, 170);
width: 400px;
line-height: 60px;
border-radius: 10px;
margin-top: 10px;
box-shadow: 0 5px 15px black;
color: white;
}

table {

border-radius: 1px;


}

td {

width: 40px;
height: 40px;
border: 0px solid black;
text-align: center;
box-shadow:0 1px 5px black ;
border-radius: 5px;
color: white;

}

.num {

line-height: 0px;
font-size: 12px;
font-weight: bold;
}

.name {

    line-height: 0px;
    font-weight: bold;

}

.category1 {

background-color: rgb(150, 231, 225);

}
.category2 {

background-color: rgb(250, 192, 66);

}


.category3 {

    background-color: rgb(6, 184, 255);
    
    }

.category4 {

        background-color: rgb(230, 32, 197);
        
        }
.category5 {

            background-color:pink;
            
            }
.category6 {

                background-color:rgb(250, 247, 72);
                
                }
.category7 {

                    background-color:rgb(170, 72, 250);
                    
                    }                
  .category8 {

                        background-color:rgb(72, 238, 250);
                        
                        }  

    .category9 {

                            background-color:rgb(87, 250, 72);
                            
                            }  
                            
.category10 {

                                background-color:rgb(250, 72, 116);
                                
                                }  
    
